{% extends 'Dashboard/index.html' %}

{% load static %} <!-- Load the static files tag library -->

{% block extra_head %}
{% endblock extra_head %}

{% block title %}Card Details{% endblock title %}

{% block hero %}<h2><span>Transactions</span></h2>{% endblock hero %}

{% block content %}
<div class="section-header">
  <h2>Money Transfer</h2>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<form method="post">
  {% csrf_token %}
  <div class="row gy-4" id="main_div" data-aos="fade-up" data-aos-delay="100">
    <div class="col-md-4">
        <label class="form-label">Bank</label>
        <select id="bank" name="bank" class="form-select" required>
            <option value="" disabled selected>Choose...</option>
            {% for bank in banks %}
                <option value="{{ bank.id }}">{{ bank.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label">Account Number</label>
        <input type="text" id="account_number" name="account_number" class="form-control" required>
    </div> 
    <div class="col-md-4">
        <label class="form-label">Amount</label>
        <input type="text" id="amount" name="amount" class="form-control" required>
    </div>           
    <div class="col-12">
        <button class="btn btn-primary" style="background-color:#009786" id="send" type="submit">Transfer Amount</button>
    </div>

  </div>
</form>


<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Services</h2>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            {% for service in services %}
                <div class="col-lg-4 col-md-6">
                    {% if service.url %}
                        <a href="{% url service.url %}">
                    {% endif %}
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi {{ service.icon }}"></i>
                            </div>
                            <h3>{{ service.name }}</h3>
                            {% if service.description %}
                                <p>{{ service.description }}</p>
                            {% endif %}
                        </div>
                    {% if service.url %}
                        </a>
                    {% endif %}
                </div><!-- End Service Item -->
            {% endfor %}
            
        </div>

    </div>
</section>
{% endblock content%}

